@{
    ViewBag.Title = "Tables are sourced here.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Content Here
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Tell Bearable where to find your
        <a href=".\Table">tables</a>
    </li>

    <li class="two">
        <h5>Something about picking default generation or customization here</h5>        
        Content here
    </li>

    <li class="three">
        <h5>How to generate here</h5>
        Content here
    </li>
</ol>
